﻿@model SampleMvcApplication.Models.FizzBuzzModel

<div id="FizzBuzzInput">
    @using (Html.BeginForm("ProcessFizzBuzz", "FizzBuzz", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <div>
                @Html.LabelFor(model => model.InputNumber, new { id = "lblInputNumber" })
            </div>
            <div>
                @Html.TextBoxFor(model => model.InputNumber, new { id = "txtInputNumber" })
                <div>
                    @Html.ValidationMessageFor(model => model.InputNumber)
                </div>
            </div>
        </div>
        <div>
            <input id="ProcessFizzBuzz" type="submit" value="Process" />
        </div>
    }
</div>
<div id="FizzBuzzOutPut">
    @foreach (var outputPrint in @Model.OutPutData)
    {
        <div>
            <span class="@outputPrint.Output">@outputPrint.DisplayOutput</span>
        </div>
    }
</div>
