﻿<!DOCTYPE html>

<html>
<head>
    <title>Fizz Buzz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-0.10.0.min.js"></script>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Code Express</title>
    <link href="~/favicon.ico"
        rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" 
    href="@Url.Content("~/Content/Site.css")" />
</head>
<body>

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p> @DateTime.Now.Year Welcome to FizzBuzz Game</p>
            </div>
        </div>
    </footer>
</body>
